<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCdCAuxL5bB3GyR_dS1slyKCyfRyyMTQMs</string>
	<key>GCM_SENDER_ID</key>
	<string>578843086355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gauntlet.newslens</string>
	<key>PROJECT_ID</key>
	<string>nlbackend</string>
	<key>STORAGE_BUCKET</key>
	<string>nlbackend.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:578843086355:ios:eb4cf2cfd9bd5ac088b9e6</string>
</dict>
</plist>